* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    color: white;
    box-sizing: border-box;
}

.content {
    width: 100%;
    height: 100vh;
    background-color: #252525;
}

.content-container {
    display: flex;
}

.catalog-container {
    width: 80%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.catalog-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    padding: 2rem;
    background-color: #676767;
    margin-bottom: 2rem;
}

.catalog-item {
    width: 15rem;
    height: 20rem;
    background-color: white;
    margin: 2rem;
    padding: 2rem;
    display: flex;
    align-content: space-evenly;
}

.catalog-item p {
    color: black;
}

.catalog-item img{
    width: 2rem;
    height: 2rem;
}

.login-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #343434;
    height: 100vh;
    padding: 1rem;
}

.login-title {
    display: flex;
    align-content: center;
}

.login-controls {
    display: flex;
    padding: 1rem;
}

.login-labels {
    /*padding: 0.5rem;*/
}

.login-inputs {
    /*padding: 0.5rem;*/
}

.login-button {
    display: flex;
    align-content: center;
}

.login-button button{
    color: black;
}