.header-title-container {
    position: relative;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    background-color: #141414;
    align-items: center;
}

.header-title-container h1 a{
    color: white;
    font-style: normal;
    text-decoration: none;
}

.header-options a {
    color: white;
    padding: 0 0.5rem;
}

.header-options a:hover, .header-title-container a:visited {
    color: white;
}